In [1]:
import numpy as np
import pandas as pd

In [2]:
gps1=pd.read_csv("/Users/doubleelle/Desktop/googleplaystore.csv")
gps2=pd.read_csv("/Users/doubleelle/Desktop/googleplaystore_user_reviews.csv")

In [3]:
gps1.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
gps2.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

DATA CLEANING

In [5]:
gps1.loc[gps1['Size']=='1,000+']
gps1.loc[10472,:]
gps1=gps1.drop(gps1.index[10472])
gps1[gps1 =='Varies with device']=np.nan
gps1 = gps1.reset_index(drop=True)
gps2 = gps2.reset_index(drop=True)
gps2=gps2.dropna()

EXERCISE 1: Convert the app sizes to a number

In [6]:
gps1.Size = (gps1.Size.replace(r'[kM]+$','', regex=True).astype(float) * \
            gps1.Size.str.extract(r'[\d\.]+([kM]+)', expand=False).
            fillna(1).replace(['k','M'], [10**3, 10**6]).astype(int))

In [7]:
gps1.Size.head()

0    19000000.0
1    14000000.0
2     8700000.0
3    25000000.0
4     2800000.0
Name: Size, dtype: float64

In [8]:
gps1.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000000.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000000.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700000.0,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000000.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",NaN,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800000.0,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

EXERCISE 2: Convert the number of installs to a number

In [9]:
gps1['Installs']= gps1['Installs'].replace([',','[+]'],['',''],regex=True)
gps1['Installs']= pd.to_numeric(gps1['Installs'])

In [10]:
gps1['Installs'].head()

0       10000
1      500000
2     5000000
3    50000000
4      100000
Name: Installs, dtype: int64

In [11]:
gps1.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000000.0,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000000.0,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700000.0,5000000,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000000.0,50000000,Free,0,Teen,Art & Design,"June 8, 2018",NaN,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800000.0,100000,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

EXERCISE 3: Transform “Varies with device” into a missing value

In [12]:
gps1[gps1 =='Varies with device']=np.nan

In [13]:
gps1[gps1=='Varies with device'].count()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

EXERCISE 4: Convert Current Ver and Android Ver into a dotted number (e.g. 4.0.3 or 4.2)

In [14]:
# remove values who start or end with "." or are not 0-9 or "."
gps1['Current Ver'] = gps1['Current Ver'].replace(["^[\.]","[^\d\.]","[\.]$"], ["", "", ""], regex=True)
gps1['Android Ver']=gps1['Android Ver'].replace([r'[^\d\.]'],'',regex=True)
gps1 = gps1.replace(r'^\s*$', np.nan, regex=True)

In [15]:
gps1['Current Ver'].head()

0    1.0.0
1    2.0.0
2    1.2.4
3      NaN
4      1.1
Name: Current Ver, dtype: object

In [16]:
gps1['Android Ver'].head()

0    4.0.3
1    4.0.3
2    4.0.3
3      4.2
4      4.4
Name: Android Ver, dtype: object

EXERCISE 5: Remove the duplicates

In [17]:
gps1.drop_duplicates(subset='App',keep='first',inplace=True)
gps1.reset_index(drop=True)
gps1[gps1.duplicated()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [18]:
gps1.shape

(9659, 13)

EXERCISE 6: For each category, compute the number of apps

In [19]:
gps1_app=gps1.groupby(['Category'],as_index=False)['App'].count()
gps1_app.head()

              Category  App
0       ART_AND_DESIGN   64
1    AUTO_AND_VEHICLES   85
2               BEAUTY   53
3  BOOKS_AND_REFERENCE  222
4             BUSINESS  420

EXERCISE 7: For each category, compute the average rating

In [20]:
gps1_rating=gps1.groupby(['Category'],as_index=False)['Rating'].mean()
gps1_rating.head()

              Category    Rating
0       ART_AND_DESIGN  4.357377
1    AUTO_AND_VEHICLES  4.190411
2               BEAUTY  4.278571
3  BOOKS_AND_REFERENCE  4.344970
4             BUSINESS  4.098479

SUMMARY OF EXERCISES 6 AND 7

In [21]:
gps1_app=gps1_app.rename(columns={'App':'Number of app'})
gps1_rating=gps1_rating.rename(columns={'Rating':'Rating AVG'})

In [22]:
gps1_rating.head()

              Category  Rating AVG
0       ART_AND_DESIGN    4.357377
1    AUTO_AND_VEHICLES    4.190411
2               BEAUTY    4.278571
3  BOOKS_AND_REFERENCE    4.344970
4             BUSINESS    4.098479

In [23]:
gps1_app.head()

              Category  Number of app
0       ART_AND_DESIGN             64
1    AUTO_AND_VEHICLES             85
2               BEAUTY             53
3  BOOKS_AND_REFERENCE            222
4             BUSINESS            420

In [24]:
gps1_app_rating=pd.merge(gps1_app,gps1_rating)
gps1_app_rating.head()

              Category  Number of app  Rating AVG
0       ART_AND_DESIGN             64    4.357377
1    AUTO_AND_VEHICLES             85    4.190411
2               BEAUTY             53    4.278571
3  BOOKS_AND_REFERENCE            222    4.344970
4             BUSINESS            420    4.098479

EXERCISE 8: Create two dataframes: one for the genres and one bridging apps and genres. So that, for instance, the app Pixel Draw - Number Art Coloring Book appears twice in the bridging table, once for Art & Design, once for Creativity

In [25]:
gps1_new=gps1['Genres'].str.split(";",n=1,expand=True)
gps_copy1=gps1.copy()
gps_copy2=gps1.copy()

gps_copy1['Genres']=gps1_new[0]
gps_copy2['Genres']=gps1_new[1]
gps_copy2=gps_copy2[gps_copy2['Genres'].notnull()] #remove null rows

gps1=pd.concat([gps_copy1,gps_copy2])
gps1=gps1.reset_index(drop=True)

genres=gps1['Genres'].drop_duplicates()
genres=pd.DataFrame({'Genres':genres})
genres = genres.reset_index(drop=True)

app_genres=gps1[['App','Genres']]

In [26]:
genres.head()

              Genres
0       Art & Design
1    Auto & Vehicles
2             Beauty
3  Books & Reference
4           Business

In [44]:
genres.shape

(53, 1)

In [28]:
app_genres.shape

(10052, 2)

In [29]:
app_genres.loc[app_genres['App']=='Pixel Draw - Number Art Coloring Book']

                                        App        Genres
4     Pixel Draw - Number Art Coloring Book  Art & Design
9660  Pixel Draw - Number Art Coloring Book    Creativity

EXERCISE 9: For each genre, create a new column of the original dataframe. The new columns must have boolean values (True if the app has a given genre)

In [30]:
ae=pd.DataFrame(index=range(0,len(gps1)),columns=genres['Genres'])

for i in range(0,len(ae.columns)):
    ae[ae.columns[i]]=ae.columns[i]

for i in range(0,len(ae.columns)):
    bool=ae[ae.columns[i]]==gps1['Genres']
    ae[ae.columns[i]]=bool

gps1=pd.concat([gps1,ae],axis=1,sort=False)

In [31]:
gps1.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,...,Parenting,Weather,News & Magazines,Maps & Navigation,Casino,Pretend Play,Creativity,Action & Adventure,Music & Video,Brain Games
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000000.0,10000,Free,0,Everyone,Art & Design,...,False,False,False,False,False,False,False,False,False,False
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000000.0,500000,Free,0,Everyone,Art & Design,...,False,False,False,False,False,False,False,False,False,False
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700000.0,5000000,Free,0,Everyone,Art & Design,...,False,False,False,False,False,False,False,False,False,False
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000000.0,50000000,Free,0,Teen,Art & Design,...,False,False,False,False,False,False,False,False,False,False
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800000.0,100000,Free,0,Everyone,Art & Design,...,False,False,False,False,False,False,False,False,False,False

EXERCISE 10: For each genre, compute the average rating. What is the genre with highest average?

In [33]:
average_rating=gps1.groupby(['Genres'],as_index=False)['Rating'].mean()
average_rating.head()

               Genres    Rating
0              Action  4.247697
1  Action & Adventure  4.288542
2           Adventure  4.191026
3              Arcade  4.277838
4        Art & Design  4.350000

In [34]:
maximum=average_rating[average_rating['Rating']==average_rating['Rating'].max()]

In [35]:
print('The genre with the highest average is ', maximum.loc[21].Genres, 'with a value equal to' ,maximum.loc[21].Rating)

The genre with the highest average is  Events with a value equal to 4.435555555555557

EXERCISE 11: For each app, compute the approximate income, obtain as a product of number of installs and price.

In [56]:
gps1['Price']=(gps1['Price'].replace('[$]','',regex=True))
gps1['Price']=pd.to_numeric(gps1['Price'])
gps1['Approximate Income']=gps1['Installs']*gps1['Price']
gps1=gps1.reset_index(drop=True)

In [57]:
gps1['Approximate Income'].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: Approximate Income, dtype: float64

In [69]:
gps1[gps1['Approximate Income']!=0].head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,...,Weather,News & Magazines,Maps & Navigation,Casino,Pretend Play,Creativity,Action & Adventure,Music & Video,Brain Games,Approximate Income
233,TurboScan: scan documents and receipts in PDF,BUSINESS,4.7,11442,6800000.0,100000,Paid,4.99,Everyone,Business,...,False,False,False,False,False,False,False,False,False,499000.0
234,Tiny Scanner Pro: PDF Doc Scan,BUSINESS,4.8,10295,39000000.0,100000,Paid,4.99,Everyone,Business,...,False,False,False,False,False,False,False,False,False,499000.0
372,Puffin Browser Pro,COMMUNICATION,4.0,18247,NaN,100000,Paid,3.99,Everyone,Communication,...,False,False,False,False,False,False,False,False,False,399000.0
406,"Moco+ - Chat, Meet People",DATING,4.2,1545,NaN,10000,Paid,3.99,Mature 17+,Dating,...,False,False,False,False,False,False,False,False,False,39900.0
407,Calculator,DATING,2.6,57,6200000.0,1000,Paid,6.99,Everyone,Dating,...,False,False,False,False,False,False,False,False,False,6990.0

In [68]:
gps1[gps1['Approximate Income']!=0].shape

(816, 67)

EXERCISE 12 : For each app, compute its minimum and maximum Sentiment_polarity

In [39]:
sentiment_max=gps2.groupby(['App'],as_index=False)['Sentiment_Polarity'].max()
sentiment_min=gps2.groupby(['App'],as_index=False)['Sentiment_Polarity'].min()

In [40]:
sentiment_max=sentiment_max.rename(columns={'Sentiment_Polarity':'Sentiment Polarity Max'})
sentiment_min=sentiment_min.rename(columns={'Sentiment_Polarity':'Sentiment Polarity Min'})

sentiment=pd.merge(sentiment_max,sentiment_min)
sentiment.head()

,App,Sentiment Polarity Max,Sentiment Polarity Min
0,10 Best Foods for You,1.000000,-0.8000
1,104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,0.910000,-0.1125
2,11st,1.000000,-1.0000
3,1800 Contacts - Lens Store,0.838542,-0.3000
4,1LINE – One Line with One Touch,1.000000,-0.8250